:root {
  /* Colors */
  /* Primary */
  --DarkBlue: hsl(240, 38%, 20%);
  --GrayishBlue: hsl(240, 18%, 77%);
  --White: hsl(0, 0%, 100%);
}
body {
  margin: 2rem 0;
  font-family: "Inter", sans-serif;
  /* Weights: 300, 500, 700 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./../assets/images/pattern-curve.svg");
  background-repeat: no-repeat;
  background-position: right -25vw bottom -18vh;
}
.w-rapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.slider {
  position: relative;
}
.hero-container {
  background-image: url("./../assets/images/pattern-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.slider-slides {
  height: 220px;
  position: relative;
}
.slider-slide-info,
.slider-slide-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}
.hero-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.3rem;
  box-shadow: 0px 15px 20px 1px var(--DarkBlue);
  object-fit: cover;
  object-position: 50% 0%;
}
.slider-slide-info.active,
.slider-slide-img.active {
  opacity: 1;
  visibility: visible;
}
.slider-btns {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
  background-color: var(--White);
  border-radius: 2rem;
  overflow: hidden;
}
.btn-prev,
.btn-next {
  cursor: pointer;
  border: none;
  background-color: inherit;
}
.btn-prev {
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.btn-next {
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.info-container {
  padding-top: 2rem;
}
.info-container::before {
  content: "";
  position: absolute;
  background-image: url("./../assets/images/pattern-quotes.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 60px;
  height: 60px;
}
.paraph-info {
  margin-top: -0.5rem;
  text-align: center;
  color: var(--DarkBlue);
  opacity: 0.8;
  font-weight: 500;
}
.name-info {
  text-align: center;
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
}
.profession-info {
  font-size: 0.9rem;
  text-align: center;
  margin-top: 0rem;
  color: var(--GrayishBlue);
  font-weight: 700;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (min-width: 768px) {
  .hero-image {
    width: 60%;
  }
  .hero-container .slider-slides {
    height: 370px;
  }
  .info-container .slider-slides {
    height: 140px;
  }
}
@media screen and (min-width: 1024px) {
  body {
    margin: 0;
    gap: 3rem;
    align-items: center;
    min-height: 100vh;
    background-position: left bottom;
  }
  main {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 85%;
    margin-right: 6rem;
    position: relative;
  }
  .slider-btns {
    position: absolute;
    left: 35%;
    bottom: 2rem;
    background-color: var(--White);
    border-radius: 2rem;
    overflow: hidden;
  }
  .info-container {
    position: relative;
    left: 13rem;
  }
  .paraph-info {
    text-align: left;
    font-size: 1.3rem;
  }
  .name-info,
  .profession-info {
    text-align: left;
    display: inline-block;
    font-size: 1rem;
  }
  .info-container::before {
    left: 20%;
  }
}
